{
  "plugins": ["react-hooks"],
  "rules": {
    "import/no-anonymous-default-export": [2, { "allowArray": true }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/display-name": "off",
    "react/no-children-prop": "off"
  },
  "extends": ["next", "next/core-web-vitals"]
}
