{
  "parser": "babel-eslint", // 기본 eslint가 해석하는게 아니고 babel-eslint가 해석해서 최신문법도 에러를 발생시키지않는다.
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "presets": ["next/babel"],
  "plugins": [
    "require('module:@babel/preset-env').default",
    "import",
    "react-hooks"
  ],
  "extends": ["next", "next/core-web-vitals", "airbnb"],

  "rules": {
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off", // js파일에서 jsx문법을 사용했을 때 오류
    "react/jsx-one-expression-per-line": "off", //
    "object-curly-newline": "off",
    "linebreak-style": "off",
    "max-len": "off",
    "spaced-comment": "off",
    "no-param-reassign": "off",
    "arrow-body-style": "off",
    "react/jsx-props-no-spreading": "off",
    "@next/next/no-img-element": "off"
  }
}
