html {
  font-size: 100;
}

body {
  margin: 0 0 0 calc(100vw - 100%);
  color: #344952;
  line-height: 1.7;
  font-size: 1rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
code {
  font-family: ui-sans-serif;
}
